# インストールしようとしているパッケージが、 `package.json` の `engines` で指定している Node.js のバージョンと互換性があるかどうかを検証する設定
# 設定値: true - engine-strict を有効化し、互換性がないパッケージのインストールを禁止する
engine-strict=true

# 指定した日数よりも前にリリースされたパッケージバージョンのみインストールを許可する設定
# 設定値: 7日（＝1週間）のクールダウン期間を設定
min-release-age=7

# 脆弱性レベルに応じた、依存関係インストール時の挙動設定
# 設定値: critical - 対象パッケージに深刻な脆弱性がある場合はインストールを失敗させる
audit-level=critical

# 依存関係のインストール時に `package.json` に定義されたスクリプトを実行しないようにする設定
# 設定値: true - ignore-scripts を有効化し、 `postinstall` などで悪意のあるコードが実行されるのを防止する
ignore-scripts=true

# DOC: https://docs.npmjs.com/cli/v11/using-npm/config
